name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./CatalogService.Grpc.sln

      - name: Build
        run: dotnet build ./CatalogService.Grpc.sln -c Release --no-restore

      - name: Test
        run: dotnet test ./tests/CatalogService.Grpc.IntegrationTests/CatalogService.Grpc.IntegrationTests.csproj -c Release --no-build --verbosity normal
